{% extends 'base.html.twig' %}

{% block body %}
<h1>Welcome in da Cross Application </h1>
<div class="col s12 m8 offset-m2 l6 offset-l3">
    {%  include('default/listView.html.twig') %}
</div>
    <footer class="page-footer blue accent-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Enimas Dev</h5>
                    <p class="grey-text text-lighten-4">This CrossOver technical test was made with <3</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="www.smaine.me">Portfolio</a></li>
                        <li><a class="grey-text text-lighten-3" href="mailto:smaine.milianni@gmail.com">Contact Me</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://github.com/ismail1432">Github</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 Copyright Eniams Dev
            </div>
        </div>
    </footer>

{% endblock %}
