{% extends 'base.html.twig' %}

{% block body %}
    <h1>Homepage</h1>
<h2>Welcome in da Cross Application </h2>
<h3>Last 10 articles !</h3>
<div class="col s12 m8 offset-m2 l6 offset-l3">
    {%  include('default/listView.html.twig') %}
</div>
{% endblock %}

